<!DOCTYPE html>
<html>
  <head>
    <title>Noithat | Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-50 text-gray-700 min-h-screen">
    <div class='flex justify-start align-top items-stretch h-screen'>
      <div class="bg-indigo-500 flex-shrink-0 w-56 box-border text-white">
        <%= render 'shared/sidebar_admin' %>
      </div>
      <div class='flex-1 box-border'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
